@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Gentium+Book+Plus:ital@1&family=Shadows+Into+Light&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    font-family: 'Gentium Book Plus', serif;
    background-color:   #d2d8d8  ;
    font-size: 20px;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

::-webkit-scrollbar {
    width: 0.25rem;
}





/* navbar */
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    /*background:   #00dcee  ;*/
    font-family: 'Gentium Book Plus', serif;
    transition: all 0.3s ease;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #ff9e00;
    font-size: 30px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.5s ease;
}

.navbar .menu li a:hover{
    color: white;
}



/* home */
.home{
    display: flex;
    background: url("images/backgroundSpace.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    color: black;
    min-height: 500px;
    font-family: 'Dancing Script', cursive;
}

.home .max-width{
    margin: auto;
}

.home .home-content .text-1{
    font-size: 84px;
    text-align: center;
}

.home .home-content .text-2{
    font-size: 66px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}




/* about */
section{
    padding: 100px 0;
}

.about .title {
    position: relative;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    color: #ff9e00;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    
    width: 45%;
}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    background-size: cover;
    border-radius: 6px;
}

.about .about-content .right{
    
    width: 55%;
}

.about .about-content .column{
    width: 50%;
}



/* resume */
section{
    padding: 100px 0;
}

.resume .title {
    position: relative;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    color: #ff9e00;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.resume .resume-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.resume .education {
    font-size: 32px;
}

.resume .resume-content .card{
    width: calc(33% - 20px);
    background: #ff9e00;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
}


/* projects */
section{
    padding: 100px 0;
}

.projects .title {
    position: relative;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    color: #ff9e00;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.projects .projects-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}



.projects .projects-content .left{
    width: 45%;
}

.projects .projects-content .left img{
    height: 500px;
    width: 600px;
    background-size: cover;
    border-radius: 6px;
}

.projects .projects-content .right{
    width: 45%;
}

.projects .projects-content .right img{
    height: 500px;
    width: 600px;
    background-size: cover;
    border-radius: 6px;
}



/* contact */
section{
    padding: 100px 0;
}

.contact .title {
    position: relative;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    color: #ff9e00;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact .contact-content .column{
    width: calc(50% - 30 px);
}

.contact .contact-content .left .icons{
    margin: 10px 0;
}

.contact .contact-content .row2{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row2 .info {
    margin-left: 30px;
}

.contact .contact-content .row2 i{
    font-size: 25px;
    color: #ff9e00;
}

.contact .right form .fields{
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea{
    height: 80px;
}

.contact .right form .name{
    margin-right: 10px;
}

.contact .right form .email{
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
}

.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}

.contact .right form .button{
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid #ff9e00;
    background:#ff9e00;
    color: white;
    border-radius: 6px;
}

.contact .right form .button button:hover{
    color: #ff9e00;
    background: none;
}

footer{
    background: url(images/backgroundSpace.jpg);
    padding: 20px 23px;
    color: white;
    text-align: center;
}

footer span x{
    color: #ff9e00;
}